@model IEnumerable<Store>
@{
    Layout = "_Layout";
}

<h1>Known Store List</h1>
<cache enabled="true" expires-after="@TimeSpan.FromMinutes(15)">
    <ul>
        @foreach (var store in Model)
        {
            <li>
                <a target="_blank" href="@store.singleton_id">@store.verified_name</a>
            </li>
        }
    </ul>
</cache>
