Package: distributed-internet-gateway
Version: {{ VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Taylor Digital Services, LLC <mtaylor@taylordigitalservices.llc>
Description: Distributed Internet Gateway
Homepage: https://datalayer.storage
