@model IEnumerable<Store>

<html lang="en">

<head>
    <title>dig</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="app-version" content="@@ViewBag.WellKnown.server_version">
    <meta name="description" content="Decentralized Internet Gateway">
    <meta name="og:description" content="Decentralized Internet Gateway">
    <meta name="twitter:description" content="Decentralized Internet Gateway">
    <meta name="og:title" content="Decentralized Internet Gateway">
    <meta name="twitter:title" content="Decentralized Internet Gateway">
    <meta name="og:site_name" content="dig">
    <meta name="og:url" content="https://g2to3.kackman.net:8787">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content='@Html.Raw("&#42;")dkackman'>
    <meta name="twitter:creator" content='@Html.Raw("&#42;")dkackman'>
    <meta name="twitter:image" content="image">
    <meta name="og:image" content="image">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"
        integrity="sha384-kzNnomD9lu5ZL8VjIC/11CP/8YCY3U00uEdC2ddTmpaBXWGEecbLw3DLcozGFq6n" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="~/css/style.v1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="text-center text-lg-start bg-transparent text-muted">
        <section class="d-flexp-4 border-bottom">
            <div class="text-center p-1">
                <a href="https://github.com/Datalayer-Storage/Decentralized-Internet-Gateway" class="me-4"
                    target="_blank">
                    <img height="24" alt="github" src="~/images/github-mark.png">
                </a>
                <a href="https://twitter.com/dkackman" class="me-4" target="_blank">
                    <img height="24" alt="twitter" src="~/images/Twitter social icons - circle - blue.png">
                </a>
            </div>
            <div class="text-center p-1">
                <code>@ViewBag.WellKnown.donation_address</code>
            </div>
        </section>
    </footer>
</body>

</html>
